body {
    background-color: #202529;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    margin: 0;
}

.texture {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/texture.png");
}

@font-face {
    font-family: Pixeled;
    src: url("../fonts/Pixeled.otf");
}

.mainbox {
    border: solid 2px #f5426f;
    width: 400px;
    height: 420px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -225px;
    font-family: Pixeled;
    background-color: #202529;
}

.mainbox ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainbox ul li {
    margin-top: 20px;
    color: white;
}

.mainbox ul li:first-child {
    margin-top: 0px;
}

.mainbox ul li:last-child {
    margin-top: 20px;
}

.mainbox ul li p{
    margin-bottom: -10px;
}

.mainbox ul li input {
    height: 20px;
}

#coin {
    width: 240px;
    height: 280px;
    position: absolute;
    left: 20%;
    top: 10%;
}

.mainbox ul li button{
    background-color: #f5426f; /* Green */
    border: none;
    width: 120px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 12px;
    font-family: Pixeled;
}

#response {
    margin: 10px;
    font-size: 12;
}

#response p {
    margin: 0;
    font-size: 9px;
}

.leaderboard ul li {
    height: 46px;
    border-bottom: solid 2px #f5426f;
    text-align: left;
}

.leaderboard ul li:first-child {
    text-align: center;
    height: 80px;
}

.leaderboard ul li h1 {
    margin: 0;
}

.leaderboard ul li p {
    display: inline-block;
    margin-left: 25px;
    margin-top: -5px;
}
.leaderboard ul li span {
    float: right;
    margin-right: 25px;
    color: #fcdb03;
    text-align: right;
    display: inline-block;
}

.active {
    display: block;
}

.hidden {
    display: none;
}